%h1 Branch Collections

%table.table.table-striped
  %tr
    %th Delegate
    %th I.U. Number
    %th Member
    %th Date Range
    %th Initial fees
    %th Dues
    %th Assessments
    %th Total

  - @collections.each do |collection|
    %tr
      %td= link_to collection.user.full_name, user_path(collection.user)
      %td= collection.member.industrial_union
      %td
        = link_to collection.member.full_name, member_path(collection.member)
      %td
        = collection.start_date
        - if collection.end_date
          &ndash; #{collection.end_date}

      %td= collection.initial_fees
      %td= link_to collection.total_dues, collection_path(collection)
      %td= link_to collection.total_assessments, collection_path(collection)
      %td= link_to collection.total, collection_path(collection)

%br

= link_to 'New Collection Entry', new_collection_path, :class => 'btn btn-primary'
