%h1 Listing assessments

%table
  %tr
    %th Assessment type
    %th Amount
    %th Collection
    %th
    %th
    %th

  - @assessments.each do |assessment|
    %tr
      %td= assessment.assessment_type
      %td= assessment.amount
      %td= assessment.collection_id
      %td= link_to 'Show', assessment
      %td= link_to 'Edit', edit_assessment_path(assessment)
      %td= link_to 'Destroy', assessment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Assessment', new_assessment_path
