= form_for @due do |f|
  - if @due.errors.any?
    #error_explanation
      %h2= "#{pluralize(@due.errors.count, "error")} prohibited this due from being saved:"
      %ul
        - @due.errors.full_messages.each do |msg|
          %li= msg

  = render partial: 'fields', locals: { f: f }
  .actions
    = f.submit 'Save'
