%h1 Listing reports

%table
  %tr
    %th Start date
    %th End date
    %th
    %th
    %th

  - @reports.each do |report|
    %tr
      %td= report.start_date
      %td= report.end_date
      %td= link_to 'Show', report
      %td= link_to 'Edit', edit_report_path(report)
      %td= link_to 'Destroy', report, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Report', new_report_path
